<div class="form-group">
  <label class="form-label">Subscription</label>
  <p>You have an active subscription</p>
</div>

<div class="form-group">
  <label class="form-label">Cancellation</label>
  <label class="form-label text-muted">Be aware that after cancellation you won't be able to start the server</label>
  <label class="form-label text-muted">Please also note that if there is any unpaid usage, last charge will be done after the end of a current month</label>
  <%= button_to cancel_billings_path, class: "btn btn-secondary" do %>
    Cancel subscription
  <% end %>
</div>
